<nav class="navbar navbar-expand-lg navbar-light bg-light ml-auto mb-4">
  <a class="navbar-brand" href="#"><i class="fas fa-kiwi-bird text-warning"></i> PAID</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <a class="nav-item nav-link" [routerLink]="['/invoices']">Invoices <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" [routerLink]="['/timesheets']">Timesheets</a>
    <a class="nav-item nav-link" [routerLink]="['/settings']">Settings</a>
    <a class="nav-item nav-link" href="#"><i class="fa fa-user"></i></a>
  </div>
</nav>
