<div class="row text-center">
  <div *ngIf="invoice === null" class="col-md-12">Invoice not found</div>
</div>
<div class="container invoice-font" id="invoice-preview" *ngIf="invoice">
  <div class="row text-right">
    <div class="col-md-12 mb-3">
      <div
        class="btn btn-outline-primary no-print mr-2"
        (click)="editInvoice()"
      >
        Edit
      </div>
      <div class="btn btn-outline-primary no-print mr-2" (click)="printPDF()">
        Print
      </div>
      <div class="btn btn-outline-danger no-print" (click)="deleteInvoice()">
        Delete
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- TODO: Get Logo from project info from API -->
      <!-- TODO: Keep logo in the db -->
      <img src="../../../assets/entemple-logo.png" width="350" alt="sdf" />
    </div>
    <div class="col-md-6 text-right">
      <div class="h1 mb-5">INVOICE</div>
      <div class="row">
        <div class="col-md-6">
          <div>Invoice#</div>
          <div>Date</div>
          <div class="mt-3">Due Date</div>
          <div class="mt-3">Bill To</div>
        </div>
        <div class="col-md-6 text-left">
          <div>{{ invoice.invoiceId }}</div>
          <div>{{ invoice.invoiceDate | date }}</div>
          <div class="mt-3 due-date-cell">{{ invoice.dueDate | date }}</div>
          <div class="mt-2" style="white-space: pre-line">
            {{ billingAddress }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col-md-6">Description</div>
    <div class="col-md-2">Hours</div>
    <div class="col-md-2">Rate</div>
    <div class="col-md-2">Amount</div>
  </div>
  <div class="row text-right" *ngFor="let wi of workItems">
    <div class="col-md-6 text-left work-item-cell">
      {{ wi?.description }}
    </div>
    <div class="col-md-2 work-item-cell">
      <!--Hours-->
      {{ (wi.durationMins > 0 ? wi.durationMins / 60 : "") | number: "1.0-2" }}
    </div>
    <div class="col-md-2 work-item-cell">
      <!--Rate-->
      {{ (wi.durationMins > 0 ? projectRate : "") | number: "1.0-2" }}
    </div>
    <div class="col-md-2 work-item-cell">
      <!--Amount-->
      {{
        (wi.durationMins > 0 ? (wi.durationMins / 60) * projectRate : "")
          | currency
      }}
    </div>
  </div>
  <div class="row text-right">
    <div class="col-md-6 work-item-cell-nocolor text-right">Total Hours</div>
    <div class="col-md-2 work-item-cell">
      {{ totalHours | number: "1.2-2" }}
    </div>
    <div class="col-md-2">Subtotal</div>
    <div class="col-md-2 work-item-cell">
      {{ subTotal | currency }}
    </div>
  </div>
  <div class="row text-right">
    <div class="col-md-6 work-item-cell-nocolor text-right"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">GST (5%)</div>
    <div class="col-md-2 work-item-cell">
      {{ gst | currency }}
    </div>
  </div>
  <div class="row text-right">
    <div class="col-md-6 work-item-cell-nocolor text-right"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">Total</div>
    <div class="col-md-2 work-item-cell">
      {{ grandTotal | currency }}
    </div>
  </div>
  <div class="row mt-5 text-center invoice-subfooter">
    <div class="col-md-12">
      <p class="m-0">
        Make all checks payable to <strong>{{ userSetting.payableTo }}</strong>
      </p>
      <p class="m-0">Thank you for your business.</p>
    </div>
  </div>
  <div class="row mt-5 text-center invoice-footer">
    <div class="col-md-4">
      <!-- TODO: Get Address from a property -->
      <p class="m-0">7462 115A St.</p>
      <p class="m-0">Delta, BC</p>
    </div>
    <div class="col-md-4">
      <p class="m-0">GST#</p>
      <p class="m-0">{{ userSetting.gstNumber }}</p>
    </div>
    <div class="col-md-4">
      <p class="m-0">{{ userSetting.email }}</p>
      <p class="m-0">{{ userSetting.phone }}</p>
    </div>
  </div>
  <div class="row mt-5"></div>
</div>
