<div class="row text-center">
  <div *ngIf="invoice === null" class="col-md-12">Invoice not found</div>
</div>
<div class="container invoice-font" id="invoice-preview" *ngIf="invoice">
  <div class="row text-right">
    <div class="col-md-12">
      <div class="btn btn-outline-primary no-print" (click)="printPDF()">
        Print
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="h1 text-warning">ENTEMPLE</div>
    </div>
    <div class="col-md-6 text-right">
      <div class="h1 mb-5">INVOICE</div>
      <div class="row">
        <div class="col-md-6">
          <div>Invoice Number</div>
          <div>Date</div>
          <div class="mt-3">Due Date</div>
          <div class="mt-3">Bill To</div>
        </div>
        <div class="col-md-6 text-left">
          <div>{{ invoice.invoiceId }}</div>
          <div>{{ invoice.invoiceDate | date }}</div>
          <div class="mt-3 due-date-cell">{{ invoice.dueDate | date }}</div>
          <div class="mt-2" style="white-space: pre-line">
            {{ billingAddress }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col-md-6">Description</div>
    <div class="col-md-2">Hours</div>
    <div class="col-md-2">Rate</div>
    <div class="col-md-2">Amount</div>
  </div>
  <div class="row text-right" *ngFor="let wi of workItems">
    <div class="col-md-6 text-left work-item-cell">
      {{ wi?.description }}
    </div>
    <div class="col-md-2 work-item-cell">
      {{ (wi.durationMins > 0 ? wi.durationMins / 60 : "") | number: "1.2-2" }}
    </div>
    <div class="col-md-2 work-item-cell">
      {{ (wi.durationMins > 0 ? 80 : "") | number: "1.0-2" }}
    </div>
    <div class="col-md-2 work-item-cell">
      {{ (wi.durationMins > 0 ? (wi.durationMins / 60) * 80 : "") | currency }}
    </div>
  </div>
  <div class="row text-right">
    <div class="col-md-6 work-item-cell-nocolor text-right">Total Hours</div>
    <div class="col-md-2 work-item-cell">
      {{ totalHours | number: "1.2-2" }}
    </div>
    <div class="col-md-2">Subtotal</div>
    <div class="col-md-2 work-item-cell">
      {{ subTotal | currency }}
    </div>
  </div>
  <div class="row text-right">
    <div class="col-md-6 work-item-cell-nocolor text-right"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">GST (5%)</div>
    <div class="col-md-2 work-item-cell">
      {{ gst | currency }}
    </div>
  </div>
  <div class="row text-right">
    <div class="col-md-6 work-item-cell-nocolor text-right"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">Total</div>
    <div class="col-md-2 work-item-cell">
      {{ grandTotal | currency }}
    </div>
  </div>
  <div class="row mt-5 text-center invoice-subfooter">
    <div class="col-md-12">
      <p class="m-0">Make all checks payable to XYZ Inc.</p>
      <p class="m-0">Thank you for your business.</p>
    </div>
  </div>
  <div class="row mt-5 text-center invoice-footer">
    <div class="col-md-4">
      <p class="m-0">123 Main St.</p>
      <p class="m-0">Vancouver, BC</p>
    </div>
    <div class="col-md-4">
      <p class="m-0">GST#</p>
      <p class="m-0">78654 5646 RT001</p>
    </div>
    <div class="col-md-4">
      <p class="m-0">dave.mira@yahoo.com</p>
      <p class="m-0">778-999-8888</p>
    </div>
  </div>
  <div class="row mt-5"></div>
</div>
